<form action="/register" method="POST">
  <input type="text" name="user[username]" placeholder="Username"><br>
  <input type="email" name="user[email]" placeholder="e-mail"><br>
  <input type="password" name="user[password]" placeholder="Pasword" required><br>
  <input type="submit" value="Register">
</form>
