<form action="/challenges" method="post">
  <input type="text" name="challenge[theme]" placeholder="CHALLENGE THEME">
  <br>
  <input type="text" name="challenge[guidelines]" placeholder="GUIDELINES">
  <br>
  <input type="datetime-local" name="challenge[course_submissions_deadline]" placeholder="COURSE SUBMISSIONS DEADLINE">
  <br>
  <input type="datetime-local" name="challenge[review_submissions_deadline]" placeholder="REVIEW SUBMISSIONS DEADLINE">
  <input type="submit" name="submit" value="Open a new challenge">
</form>
